In [65]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geopiExercises")

Latitude = "1.333207"
Longitude = "103.742308"

location = geolocator.reverse(Latitude+","+ Longitude)
print(location)

10, Jurong East Street 12, Jurong East, Southwest, 609690, Singapore

In [70]:
address = location.raw['address']
print(address)

{'house_number': '10', 'road': 'Jurong East Street 12', 'suburb': 'Jurong East', 'county': 'Southwest', 'postcode': '609690', 'country': 'Singapore', 'country_code': 'sg'}

In [71]:
city = address.get('city', '')
state = address.get('state', '')
country = address.get('country', '')
code = address.get('country_code')
zipcode = address.get('postcode')
print('City : ',city)
print('State : ',state)
print('Country : ',country)
print('Zip Code : ', zipcode)

City :
State :
Country :  Singapore
Zip Code :  609690

In [8]:
import numpy as np
import pandas as pd
%matplotlib inline

In [9]:
pwd

'C:\\Users\\Windows 10\\Saved Games\\Personal Projects'

In [14]:
mrt_data = pd.read_csv("mrt_lrt_data.csv")

In [37]:
mrt_data.head()

    station_name type       lat         lng
0    Jurong East  MRT  1.333207  103.742308
1    Bukit Batok  MRT  1.349069  103.749596
2   Bukit Gombak  MRT  1.359043  103.751863
3  Choa Chu Kang  MRT  1.385417  103.744316
4        Yew Tee  MRT  1.397383  103.747523

In [35]:
mrt_data['lng'][0]

103.742308

In [75]:
len(mrt_data)

157

In [90]:
mrt_data['station_name'][0]

'Jurong East'

In [156]:
#state data variable
data = mrt_data

#define empty list placeholder
new_list = []

for item in range (len(data)):
    
    Latitude = str(data['lat'][item])
    Longitude = str(data['lng'][item])
    
    location = geolocator.reverse(Latitude+","+ Longitude)
    new_list.append(location[0])

In [ ]:
mrt_data['address'] = new_list

In [208]:
mrt_data.head()

,station_name,type,lat,lng,address,region
0,Jurong East,MRT,1.333207,103.742308,"10, Jurong East Street 12, Jurong East, Southw...",Southwest
1,Bukit Batok,MRT,1.349069,103.749596,"Bukit Batok, 10, Bukit Batok Central, Bukit Ba...",Southwest
2,Bukit Gombak,MRT,1.359043,103.751863,"Vista Dental Surgery, Choa Chu Kang Park Conne...",Southwest
3,Choa Chu Kang,MRT,1.385417,103.744316,"UOB, 10, Choa Chu Kang Avenue 4, Choa Chu Kang...",Southwest
4,Yew Tee,MRT,1.397383,103.747523,"Yew Tee Station, Choa Chu Kang Drive, Choa Chu...",Northwest

In [205]:
region_list = []

for item in range(0,len(mrt_data)):
    region_list.append(mrt_data['address'][item].split()[-3][:-1])

In [206]:
mrt_data['region'] = region_list

In [207]:
mrt_data['region'][0]

'Southwest'

In [211]:
mrt_data['region'].unique()

array(['Southwest', 'Northwest', 'Central', 'Southeast', 'Northeast'],
      dtype=object)

In [215]:
"10"*4

'10101010'