https://www.kaggle.com/namanmanchanda/heart-attack-eda-prediction-90-accuracy

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

**Data Intro Basic**

In [2]:
data = pd.read_csv("singapore_airbnb.csv")

In [3]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7907 entries, 0 to 7906
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7907 non-null   int64
 1   name                            7905 non-null   object
 2   host_id                         7907 non-null   int64
 3   host_name                       7907 non-null   object
 4   neighbourhood_group             7907 non-null   object
 5   neighbourhood                   7907 non-null   object
 6   latitude                        7907 non-null   float64
 7   longitude                       7907 non-null   float64
 8   room_type                       7907 non-null   object
 9   price                           7907 non-null   int64
 10  minimum_nights                  7907 non-null   int64
 11  number_of_reviews               7907 non-null   int64
 12  last_review                     5149 non-null   object
 13  reviews_per_month               5149 non-null   float64
 14  calculated_host_listings_count  7907 non-null   int64
 15  availability_365                7907 non-null   int64
dtypes: float64(3), int64(7), object(6)
memory usage: 988.5+ KB

In [8]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [88]:
#isnull check
data.isnull()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7906,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
5627,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
5626,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
5625,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
2125,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
470,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1237,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
140,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
132,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [90]:
#isnull check by column
#if false means that theres no null values in the columns
data.isnull().any()

id                                False
name                               True
host_id                           False
host_name                         False
neighbourhood_group               False
neighbourhood                     False
latitude                          False
longitude                         False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
last_review                        True
reviews_per_month                  True
calculated_host_listings_count    False
availability_365                  False
dtype: bool

In [92]:
data.isnull().sum()

id                                   0
name                                 2
host_id                              0
host_name                            0
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2758
reviews_per_month                 2758
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [87]:
data.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [86]:
data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,7.907000e+03,7.907000e+03,7907.000000,7907.000000,7907.000000,7907.000000,7907.000000,5149.000000,7907.000000,7907.000000
mean,2.338862e+07,9.114481e+07,1.314192,103.848787,169.332996,17.510054,12.807386,1.043669,40.607689,208.726318
std,1.016416e+07,8.190910e+07,0.030577,0.043675,340.187599,42.094616,29.707746,1.285851,65.135253,146.120034
min,4.909100e+04,2.366600e+04,1.243870,103.646560,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.582180e+07,2.305808e+07,1.295795,103.835825,65.000000,1.000000,0.000000,0.180000,2.000000,54.000000
50%,2.470627e+07,6.344891e+07,1.311030,103.849410,124.000000,3.000000,2.000000,0.550000,9.000000,260.000000
75%,3.234850e+07,1.553811e+08,1.322110,103.872535,199.000000,10.000000,10.000000,1.370000,48.000000,355.000000
max,3.811276e+07,2.885676e+08,1.454590,103.973420,10000.000000,1000.000000,323.000000,13.000000,274.000000,365.000000

In [12]:
#finding the host that has the most registered room
data['host_name'].unique

<bound method Series.unique of 0       Francesca
1         Sujatha
2       Francesca
3         Belinda
4         Belinda
          ...
7902        Belle
7903         Neha
7904        Mindy
7905        Huang
7906      Terence
Name: host_name, Length: 7907, dtype: object>

In [3]:
new_list = [item for item in data['host_name']]

In [8]:
unique_owners = list(set(new_list))

In [ ]:
#count repetition for every unique owners

In [48]:
#count repetition for every unique owners
my_dict = {i:new_list.count(i) for i in new_list}
my_dict

{'Francesca': 2,
 'Sujatha': 1,
 'Belinda': 9,
 'Bianca': 4,
 'K2 Guesthouse': 32,
 'Elizabeth': 10,
 'Aresha': 1,
 'Adi': 1,
 'Susan': 1,
 'Lena': 3,
 'Frederic': 1,
 'Roger': 3,
 'Grace': 11,
 'Audrey': 10,
 'Shirlnet': 1,
 'Jimm': 1,
 'Richard': 7,
 'Christiana': 1,
 'Sharon': 21,
 'Homestay In Central Singapore': 1,
 'Kaurus': 112,
 'Immellymel': 1,
 'Jenny': 17,
 'Dara': 1,
 'Sue / Mylene': 3,
 'Tania': 2,
 'Laura': 6,
 'F': 3,
 'Gin': 1,
 'Linton': 1,
 'Jill': 1,
 'Joyce': 23,
 'Natesh': 2,
 'Yuan': 5,
 'Martin': 7,
 'Sarah': 15,
 'Lydia': 7,
 'Su': 5,
 'Quinn': 4,
 'Catherine': 30,
 'Sheryl': 2,
 'Caleb': 9,
 'Ruth Mandy': 11,
 'Charlyn': 1,
 'Sophie': 17,
 'Joel': 4,
 'James': 40,
 'Jack': 4,
 'Domus': 1,
 'Gerard': 1,
 'Ben': 48,
 'Betty': 11,
 'Soh': 1,
 'Serene': 3,
 'Takico': 2,
 'Superb Hostel': 7,
 'Coco': 4,
 'Wink': 5,
 'Joey': 94,
 'Jim': 4,
 'Michelle': 15,
 'Zhoulin': 1,
 'Tryston': 18,
 'Anuj': 2,
 'Zi Ying': 1,
 'Alvin': 249,
 'Skye': 2,
 'Jimmy': 39,
 'Jason': 12,
 'Ling': 8,
 'Dustin': 1,
 'Jin': 4,
 'Jeremy': 6,
 'Leanda': 2,
 'Beate': 1,
 'David': 26,
 'Angelina': 7,
 'Rc': 48,
 'Sam & Jenny': 2,
 'Tracey': 4,
 'Alex': 105,
 'DropINN': 11,
 'Bastian': 1,
 'Shirley': 68,
 'Regina': 2,
 'Ammarudin': 1,
 'Chelsea': 1,
 'Val': 3,
 'Tommy': 22,
 'Rayne': 1,
 'Teng Yan': 1,
 'Vanessa': 5,
 'Vivian': 11,
 'Happysnail': 2,
 'Kenneth': 10,
 'Matt': 3,
 'Nicholas': 5,
 'Kit': 16,
 'Gordon': 2,
 'Kah Lun': 1,
 'Xavier': 2,
 'Dominique': 2,
 'Tom': 37,
 'Chloe': 6,
 'Rosanna': 1,
 'Katherine': 31,
 'Yeo': 5,
 'Julian': 16,
 'Singdweller': 1,
 'Dale': 1,
 'Elise': 12,
 'Meiling': 1,
 'Bill': 2,
 'Pauline': 1,
 'S': 4,
 'Paul': 6,
 'Jean': 6,
 'Flora': 2,
 'Dominic': 2,
 'Patrick & Cindy': 1,
 'Royal': 22,
 'Lee': 35,
 'Georgie': 1,
 'Bobby': 2,
 'Jade': 2,
 'Vanillabeans': 1,
 'Frank': 3,
 'Yvonne': 5,
 'Mara': 3,
 'Veil': 1,
 'Rockwell': 1,
 'Alexandra': 1,
 'Valentin': 1,
 'Moira': 2,
 'Sara': 6,
 'Sufi': 1,
 'Gweny': 3,
 'Kat': 2,
 'Chris': 30,
 'Judy': 1,
 'Lenneth': 2,
 'Yock Lian': 1,
 'Vince': 2,
 'Ryan': 4,
 'Marty': 2,
 'Jois': 1,
 'Callie & Kel': 1,
 'Ethan': 19,
 'Susie': 16,
 'Samuel': 2,
 'Xiao': 1,
 'YongXing9688': 1,
 'Gregory': 1,
 'Christian': 5,
 'Ashley': 4,
 'Elodie': 1,
 'Bryan': 14,
 'Wayne': 1,
 'Darren': 9,
 'Chew Nam': 1,
 'Lizzie': 1,
 'Faith': 3,
 'Heritage Apartments': 40,
 'Antoine': 4,
 'Willy': 2,
 'Cheryl': 13,
 'Cozy': 3,
 'Isabel': 2,
 'Cherlek': 1,
 'Foong': 1,
 'Jasmine': 5,
 'Edwin Leopold': 1,
 '莉': 1,
 'Jane': 7,
 'Jeff': 2,
 'Melinda': 1,
 'Orion': 1,
 'Seok Ho': 1,
 'Muriel': 1,
 'Calvin': 1,
 'Champ': 7,
 'Don': 2,
 'Jennifer': 6,
 'ｼﾝ': 9,
 'Gary': 3,
 'MyCity': 2,
 'Ankur': 2,
 'JZ Dale': 1,
 'Phua': 1,
 'Kieu': 1,
 'Central 65': 1,
 'Dianne': 3,
 'Veer': 1,
 'Andy': 12,
 'Saurabh': 1,
 'Nova': 1,
 'Ernest': 1,
 'Shwu Shenn': 3,
 'Bc': 7,
 'Edwina': 2,
 'Thomas': 5,
 'Win': 11,
 'Pinggi': 3,
 '明洁': 2,
 'Nicolas': 3,
 'Leanne': 1,
 'Serena': 5,
 'Studios': 14,
 'Kramer': 2,
 'Anjalli': 1,
 'Sajag': 1,
 'Olivia': 6,
 'Lynelle': 3,
 'Sebastian': 2,
 'Alaric': 6,
 'Anita & David': 3,
 'Mike': 32,
 'Leon': 2,
 'Danny': 1,
 'Rebekah': 14,
 'Property': 7,
 'Jia Yi': 1,
 'Landlord': 1,
 'Manuel': 1,
 'Mrs Tan': 8,
 'Jojo': 5,
 '文翔': 1,
 'Sonia': 1,
 'Daisy': 1,
 'A': 1,
 'Ploy': 1,
 'Eddie': 9,
 'Ho': 5,
 'Huan': 1,
 'Aveline': 2,
 'Law': 1,
 'Dario': 1,
 'Shuai': 1,
 'Nina': 2,
 'Allendgs': 1,
 'Lei': 2,
 'Y': 1,
 'Kathleen': 3,
 'Hitesh': 1,
 'Natalia': 2,
 '5footway': 4,
 'Natasha': 2,
 'A.P': 1,
 'Tay': 4,
 'Akash': 1,
 'Gondo': 1,
 'Andrea': 4,
 'Jay': 290,
 'Liz': 2,
 'Shyam': 2,
 'Winnie': 3,
 'Apollo': 67,
 'Florence': 2,
 'Divya': 1,
 'Harald': 1,
 'Sukri': 2,
 'Expats Housing Provider @ Raffles P': 41,
 'Shivakumar': 1,
 'M': 3,
 'Airena': 1,
 'Casper': 1,
 'Phan': 2,
 'E C': 14,
 'Amrita': 1,
 'Derek': 1,
 'Anthony': 25,
 'Veronica': 2,
 'Udbhav': 1,
 'Thanksgivings': 4,
 'Amir': 2,
 'Soku': 1,
 'Bassel': 1,
 'Sherry': 2,
 'Suan Khim': 2,
 'Mathilde': 1,
 'John': 15,
 'Prim': 3,
 'Stteven': 3,
 'Rainer': 2,
 'Feng': 1,
 'El': 1,
 'Branson': 1,
 'Gao': 1,
 'Melissa': 3,
 'Gema': 1,
 'Perfect': 2,
 'Cao': 1,
 'Paloma': 1,
 'Crystal': 7,
 'JYidea': 1,
 'Shafiq': 2,
 'Raphaelle': 1,
 'Hedy': 3,
 'Le & Aren': 1,
 'Michael': 18,
 'Nawan': 3,
 'Aloysius': 1,
 'Benedict': 1,
 'Lucy': 28,
 'Rafa': 1,
 'Lu': 5,
 'Matthew': 3,
 'Blake': 1,
 'Cynthia': 5,
 'Jas': 4,
 'Cj': 5,
 'Fengqi': 1,
 'Ray': 16,
 'Phil': 2,
 'Peklyn': 1,
 'Aya': 1,
 'Darcy': 114,
 'Jillian': 1,
 'Niti': 1,
 'Mostafa': 1,
 'Meijuan': 1,
 'Melanie': 1,
 'Ramzi': 1,
 'Fai': 1,
 'Sean': 6,
 'Aude': 1,
 'Ira': 1,
 'Oualid': 1,
 'Trisha': 2,
 'May': 8,
 'Ghislain': 3,
 'Salleh': 1,
 'Hani': 5,
 'Sunny': 24,
 'Singaporejo': 1,
 'Hazel': 5,
 'Kingsley': 2,
 'Wing': 1,
 'Jeanette': 1,
 'Cynth': 1,
 'Chester': 3,
 'Chi Siang': 2,
 'Cintia': 1,
 'Wendy': 6,
 "D'Resort": 1,
 'Amy': 26,
 'Doreen': 1,
 'WorldQ': 2,
 'Li': 7,
 'Ryan Ng': 1,
 'Mehdi': 1,
 'Min': 2,
 'Nellie': 1,
 'Jianan': 1,
 'Felix': 4,
 'Siti': 1,
 'Zaidi': 1,
 'Luqman': 1,
 'Marilyn': 8,
 'Gopal': 6,
 'Alan': 10,
 'Ine': 3,
 'Ronnie': 1,
 'Didier': 1,
 'Syed': 3,
 'Priscilla': 3,
 'Sue': 10,
 'Linn': 1,
 'Peejay': 1,
 'Simon': 19,
 'Tilak': 1,
 'Royce': 2,
 'Erin': 4,
 'Angus': 1,
 'Piriya': 2,
 'Mal': 1,
 'Christy': 1,
 'Agnes': 2,
 'Christine': 18,
 'Vicky': 2,
 'Nicole': 4,
 'Sohan': 1,
 'Kiddy': 3,
 'Ivan': 4,
 'Henry': 4,
 'Tiffany': 3,
 'Yong Han': 2,
 'Dana': 1,
 'Reon': 1,
 'Craig': 1,
 'Jafar': 2,
 'Lisya': 1,
 'Charlene': 3,
 'Amanda': 7,
 'Vera': 1,
 'Uncharted Homes': 13,
 'An': 1,
 'Tangoh': 2,
 'Gfourstation': 14,
 'Guomin': 1,
 'Tilden': 1,
 'Raspal': 1,
 'Arnauld': 1,
 'Theresa': 2,
 'Ong': 35,
 'Marouen': 1,
 'Liam': 1,
 'Jamie': 3,
 'Kevin': 33,
 'Benny': 22,
 'Vikneswaran': 1,
 'Maxime': 1,
 'Mathew Fernandez': 1,
 'Cruise': 1,
 'Fan': 2,
 'Trina': 1,
 'Lesley': 2,
 'Aaron': 145,
 'Sam': 17,
 'Rob': 1,
 'Jian Hao': 2,
 'Ser': 1,
 'Dorin': 1,
 'Nik': 1,
 'Beary Best Hostel': 9,
 'Arlene': 1,
 'Daniela': 2,
 'Bito': 1,
 'Meen': 1,
 'Dan': 14,
 'Kuldip': 1,
 'Jannah': 1,
 'Wu': 1,
 'Sora': 4,
 'Jeffrey': 2,
 'Vidanth': 1,
 'Lynn': 4,
 'Qiu': 1,
 'Steven': 8,
 'Lim': 7,
 'Takuya': 1,
 'Shean': 3,
 'Ruth': 1,
 'Ark': 11,
 'Meadows': 17,
 'Son': 1,
 'Koert': 1,
 'Daphne': 2,
 'Victor': 2,
 'Jj': 5,
 'Nigel': 3,
 'Yb': 1,
 'Julie': 20,
 'Esther': 12,
 'Hugo': 1,
 'Tim': 9,
 'Typroper': 1,
 'Jesse': 1,
 'Joycelyn': 1,
 'Ayush': 2,
 'Peter': 15,
 'Jessie': 14,
 'Subhashish': 1,
 'Abigale': 1,
 'Gladys': 1,
 'Oscar': 4,
 'Derrick': 6,
 'Till': 1,
 'Jialin': 1,
 'Antonio': 2,
 'Kate': 9,
 'Leslie': 2,
 'TuongVi': 1,
 'Keith': 26,
 'Gabriele': 1,
 'Hannah-Lhynne': 1,
 'Philipp': 1,
 'Tingting': 1,
 'Jye': 1,
 'Rathnah': 1,
 'Nanda': 23,
 'JoJo': 2,
 'Hoo': 1,
 'Jv': 1,
 'J': 20,
 'Heather': 1,
 'Angela': 13,
 'Jen': 5,
 'Yusheng': 2,
 'Arunesh': 1,
 'Ty': 1,
 'T': 1,
 'Gagan': 2,
 'Boon Teck': 1,
 'Nasim': 1,
 'Xuefeng': 1,
 'Anshuman': 1,
 'Moly': 1,
 'Vincent': 3,
 'Jerry': 5,
 'Mat': 1,
 'Dream Lodge': 8,
 'Teddy': 6,
 '露': 1,
 'Kelvin': 9,
 'Guo Feng': 1,
 'Hubab': 1,
 'Sylvain': 1,
 'Rare.Group': 2,
 'Xi': 2,
 'Joen': 1,
 'Lin': 2,
 'Tan': 3,
 'Okjoh': 1,
 'Stephanie & KT': 1,
 'Jingjing': 1,
 'Esther Ying': 1,
 'Korkwan': 1,
 'Justin': 9,
 'Harry Dzung': 2,
 'Augustus': 1,
 'Rishita': 1,
 'Jerome': 1,
 'Luis': 2,
 'Blandine': 1,
 'Kim': 2,
 'Allen': 1,
 'Ji Hyung': 1,
 'Prateek': 1,
 'Gillian': 1,
 'Poh Heng Anthony': 1,
 'Karma': 1,
 'Danhua': 1,
 'Greg': 2,
 'Achille': 1,
 'Henrik': 1,
 'L': 28,
 'Kong Keong Lawrence': 1,
 'Crystabella': 1,
 'Gavin': 1,
 'Alina': 1,
 'Kelly': 12,
 'Joya': 1,
 'Lan': 3,
 'Ann': 7,
 'Xiukun_zhang': 1,
 'Candy': 2,
 'Cheez': 2,
 'Daiyhsi': 1,
 'Heng Jun': 1,
 'Ming': 2,
 'Ian': 9,
 'Peng': 2,
 'Linda': 32,
 'Klaus': 1,
 'Alfian': 2,
 'Neeraj': 1,
 'RouYi': 2,
 'Caroline': 1,
 'Daniel': 22,
 '8 On Claymore Serviced Residences': 1,
 'Prakash': 1,
 'Rahul': 2,
 'Carl': 3,
 'Mi': 1,
 'Denise': 1,
 'Lisa': 2,
 'Waqas': 1,
 'Shawn': 4,
 'Lola': 1,
 'Jing': 7,
 'Jonie': 1,
 'Xuan': 5,
 'Alexander': 4,
 'Sofia': 3,
 '睿澜': 1,
 'Lotus': 2,
 'Tobias': 1,
 'That Green Corner': 8,
 'Emilie': 1,
 'Jonathan': 6,
 'Jacelyn': 5,
 'Na': 2,
 '玉铃': 1,
 'Anshu': 1,
 'Juliana': 3,
 'Mohnish': 1,
 'Rishab': 1,
 'Kuldeep': 2,
 'Home': 7,
 'Hwa Chiang': 1,
 '张': 1,
 'Imola': 1,
 'Sona': 3,
 'Byulee': 1,
 'Stacie': 1,
 'Wei': 26,
 'IEraaniyan': 2,
 'Mohd': 1,
 'Kathy': 9,
 'Wl': 1,
 'Aravind': 2,
 'Agata': 1,
 'Johnny': 1,
 'Minh': 1,
 'Madhur': 1,
 'Jawad': 1,
 'Ang': 4,
 'Omar': 1,
 'Emil': 1,
 'Chua': 3,
 'Yi': 1,
 'Sally': 4,
 'Steve': 3,
 'Kwun': 1,
 'Fanlei': 2,
 'Jordane': 1,
 'Joe': 8,
 'Adrey': 1,
 'Stacey': 1,
 'Jess': 3,
 'Sylvia': 1,
 'Juan': 1,
 'Bookings': 1,
 'Yin': 4,
 'Yaqing': 1,
 '晨': 1,
 'Helena': 1,
 'Zakaria': 1,
 'Educator': 1,
 'Jai': 2,
 'Sky': 5,
 'Peggy': 1,
 'Evelyn': 3,
 'Spatiaux': 1,
 'Sustain': 1,
 'Amber': 2,
 'Zack': 10,
 'Mollie': 1,
 'BedsandDreams Inn@ Chinatown': 6,
 'You': 1,
 'Weijie': 1,
 'Cathy': 2,
 'Jiang Shui': 1,
 'Harsh': 1,
 'Oky Eka': 1,
 'Anne': 2,
 'Tammy&Sean': 4,
 'Elle': 5,
 'Seng': 2,
 'Qq': 1,
 'V/': 10,
 'Violet': 2,
 'Alexis': 2,
 'Angel': 3,
 'Helyette': 1,
 'Aleksandra': 2,
 'Tu Junyu': 1,
 'Freddy': 2,
 'Cris': 1,
 'Alice': 5,
 '寛': 1,
 'Alfred': 4,
 'Hamz': 1,
 'Sheng': 1,
 'Jin-Ah': 1,
 'Capella Club Residences': 3,
 'Noreen': 1,
 'Megah': 1,
 'Duncan': 1,
 'Prasath Kumar': 1,
 'Igor': 1,
 'Seven': 28,
 'Sainyam': 1,
 'Moahan': 1,
 'Mai': 2,
 'Mrs': 1,
 'Chen': 3,
 'Marina': 2,
 'Pamela': 1,
 'Haiqi': 1,
 'Your Home Away From Home': 4,
 'Andrew': 10,
 'Rachel': 5,
 'Patrick': 1,
 'Cookhie': 1,
 'Romy': 1,
 'Zhao': 1,
 'Nancy': 10,
 'Wang': 1,
 'Sk': 9,
 'Liu': 3,
 'Owens': 2,
 'Shu': 16,
 'Tingting Li': 1,
 'Kristin': 2,
 'Marie': 1,
 '子隆': 1,
 'Elisa': 1,
 'Zab': 1,
 'Natalie': 3,
 'Ness': 1,
 'Zehwee': 2,
 'Cecilia': 3,
 'Homes Sg': 2,
 'Mehak': 1,
 'Patro': 1,
 'Jauhara': 1,
 'Eve': 2,
 'Emma': 1,
 'Ashwarya': 1,
 'Ceciliar': 1,
 '雅琪': 1,
 'Arun': 3,
 'Kaori': 1,
 'Kai': 2,
 'Abhishek': 3,
 'Jenna & Nunu': 1,
 'Florent': 2,
 'Mona': 3,
 'Mohamed': 3,
 'Robert': 2,
 'Xu': 1,
 'Luca': 1,
 'Mickael': 2,
 'Claire': 3,
 'Hai Yen': 1,
 'Arthur': 2,
 'Yan': 7,
 'Ritesh': 1,
 'Haider': 1,
 'Alexa': 1,
 'Christine Kim Kum': 1,
 'Evelyne': 1,
 'Monalisa': 1,
 'Adam': 6,
 'Ida': 1,
 'Ramana': 1,
 'Eystine': 1,
 'Samantha': 3,
 'Krishna': 1,
 'Alexandre': 2,
 'Christopher': 4,
 'Altezus': 1,
 'Melvin': 1,
 'Nadira': 1,
 'Eva': 4,
 'Olivier': 1,
 'Pantea': 1,
 'Ryugo': 1,
 'Armanadurni': 1,
 'Francois': 1,
 'Yuexue': 1,
 'Mathieu': 3,
 'Charis-Amy': 1,
 'Gloria': 1,
 'Zhang': 6,
 'Yiming': 1,
 'Carrie': 3,
 'Nikki': 2,
 'Kalyan Chakravarthi': 2,
 'Dustin Jefferson': 1,
 'Tatjana': 1,
 'Felicia': 1,
 'Uma': 1,
 'Js': 3,
 'Fendi': 3,
 'Wen': 2,
 'Yikhin': 1,
 'Krisnamurti': 1,
 '光雄 Terence': 1,
 'Stefano': 1,
 'Stas': 1,
 'Chris & Val': 1,
 'Adrien': 1,
 'Juanita': 1,
 'Christina': 2,
 'Mulang': 2,
 'Zach': 1,
 'Mary': 4,
 'Mark': 6,
 'Alleyhui': 1,
 'Timo': 1,
 'Jan': 21,
 'Ingeborg': 1,
 'Helen': 3,
 'Elaine': 6,
 'Riccardo': 1,
 'Pablo': 1,
 'Ronen': 1,
 'Alocassia': 1,
 'Gurbak': 1,
 'Garance': 2,
 'Markus': 3,
 'Pineapple': 1,
 'Silly': 1,
 'Immanuel': 1,
 'Mily': 2,
 'Shai': 1,
 'Julien': 1,
 'Sijie': 1,
 'Prash & Niko': 1,
 'Earth': 1,
 'Fang Wei': 5,
 'Beat': 1,
 'Ghanesh': 1,
 'Fatima': 1,
 'Gap Year': 8,
 'Ajeesh': 1,
 'Cal': 9,
 'Ana': 2,
 'Sangi': 2,
 'Jarovh': 4,
 'Sharoz': 1,
 'Eugene': 3,
 'George': 5,
 'Zhen And Toni': 9,
 'Jiayi': 10,
 'Yuen': 1,
 'Jiawen': 1,
 'Gelvin': 1,
 'Bohjong': 1,
 'Chong': 10,
 'The Scarlet': 1,
 'Ashu': 2,
 'Sandeep': 3,
 'Gigi S G': 1,
 'Anna / Chee Kiang': 4,
 'Nir': 1,
 'John & Mei': 1,
 'Zen': 2,
 'Tony': 5,
 'Wani': 1,
 'Alessandro': 1,
 'Gayathri': 1,
 'Siva': 1,
 'Anna': 27,
 'Lucia': 1,
 'Becky': 2,
 'Attari': 2,
 'Andi': 1,
 'Lei Vee': 2,
 'Xueqin': 1,
 'Vinn': 45,
 'Pauline Et Seb': 1,
 'Jessica': 8,
 'Any': 2,
 'Cindy': 12,
 'Chelsey': 59,
 'Jayce': 6,
 'Diana': 2,
 '迎迎': 1,
 'Brian': 8,
 'Johnny Lee': 1,
 'Wahad': 1,
 'Tktotts': 1,
 'Siew Yin': 1,
 'Véronique': 1,
 'Ying Cong': 1,
 'Joanne': 11,
 'Annie': 4,
 'Fiona': 5,
 'Teo': 5,
 'Yingying': 1,
 'Ziad': 1,
 'Geo': 1,
 'Dianna': 1,
 'Iana': 3,
 'Nassiba': 1,
 'Tiffanie': 1,
 'Tribe Theory': 4,
 'Tomy': 1,
 'Eddy': 3,
 'Meganathan': 2,
 'Yajie': 1,
 'Carlijn': 1,
 'Ng': 1,
 'Xuebao': 2,
 'Sunrise': 1,
 'Puneet': 2,
 'Jinchun': 1,
 'Ixora': 1,
 'Desiree': 1,
 'William': 6,
 'Dean': 1,
 'So-Young': 1,
 '昂斯': 2,
 'Borys': 1,
 'Frieda': 1,
 'Rebecca & Olaf': 1,
 'Edouard': 1,
 'Sukul': 1,
 'Eric': 3,
 'Ena': 1,
 'Xiang': 2,
 'Ellen': 1,
 'Shuying': 12,
 'Bertrand': 1,
 'Vathsala': 1,
 'Krish': 2,
 'Gy': 1,
 'Reggie': 2,
 'Family': 1,
 'Jerome & Jane': 2,
 'Lina': 5,
 'Jordan': 1,
 'Ace Beautiful Homes': 17,
 'Egem': 2,
 'Mich': 8,
 'Siew': 1,
 'Louis': 2,
 'Momoca': 1,
 'Qin': 4,
 'Harry': 1,
 'Jamila': 2,
 'Nargis': 3,
 'Leann': 1,
 'Apple': 6,
 'Nila': 1,
 'Best And Ken': 1,
 'Sandy': 3,
 'Jiaquan': 1,
 'Pat': 26,
 'Trisno': 10,
 'Bm': 1,
 'Bhullar': 1,
 'Aileen': 1,
 'Lorraine': 3,
 'Clement': 1,
 'Lollanta': 1,
 'Nyah': 1,
 'Lili': 1,
 '碧丹青': 1,
 'Rosey': 2,
 'Vishal': 1,
 'Abegail': 19,
 '思淳': 1,
 'Elynn': 2,
 'Ram': 1,
 'Marcus': 3,
 'River City Inn': 43,
 'Kenny': 4,
 'Accomodation': 3,
 'Klarice': 1,
 'Jun Xian': 1,
 'Uli': 1,
 'Tarcia': 1,
 'Htin': 2,
 'Edwin': 1,
 'Hana': 2,
 'Mitul': 6,
 'Jinshan Hotel': 1,
 'Kh': 1,
 'Moore': 1,
 'Adrian': 7,
 'Damodaran': 1,
 'Penny': 2,
 'Mohamad Ayub': 1,
 'Glen': 1,
 'Pare': 1,
 'Addie': 1,
 'Shuhui': 3,
 'Gc': 1,
 'Ailyn': 6,
 'Meadows Lavender': 2,
 'Mandiz': 1,
 'Lily': 21,
 'Sacha Emmanuel': 1,
 'Viola': 1,
 'Juna': 1,
 'Yunseok': 1,
 'Cube': 1,
 'Eastern': 1,
 'Marlynna': 1,
 'Ferdi': 2,
 'Bjarke': 1,
 'Shijie': 1,
 'Hema': 1,
 'Su Moy': 27,
 'Zhou': 3,
 'Yolivia': 1,
 'Ashey': 1,
 'Cui': 2,
 'Johnson': 1,
 'Joseph': 6,
 'Xiaojing': 1,
 'Shan Bros': 5,
 'Kathlyn': 1,
 'Clifton': 1,
 'Bing': 1,
 'Pang': 1,
 'Iñigo': 1,
 'Jieyang': 1,
 'Geraldine': 7,
 'Theng': 1,
 'Belle': 33,
 'Rose': 1,
 'Yang': 1,
 'Thom': 1,
 'Prissy': 1,
 ...}

In [ ]:
sorted_host_values = sorted(my_dict.items(),key=lambda x:x[1],reverse=True)
sorted_host_values

In [51]:
sorted_host_values = sorted(my_dict.items(),key=lambda x:x[1],reverse=True)
sorted_host_values

[('Jay', 290),
 ('Alvin', 249),
 ('Richards', 157),
 ('Aaron', 145),
 ('Rain', 115),
 ('Darcy', 114),
 ('Kaurus', 112),
 ('RedDoorz', 109),
 ('Alex', 105),
 ('Joey', 94),
 ('Xiaoyu', 79),
 ('Rajan', 78),
 ('Paridhi', 76),
 ('Shirley', 68),
 ('Apollo', 67),
 ('Marcelo', 67),
 ('Paryani', 64),
 ('Chelsey', 59),
 ('Hillary', 49),
 ('Ben', 48),
 ('Rc', 48),
 ('Vinn', 45),
 ('Jhian', 45),
 ('River City Inn', 43),
 ('Expats Housing Provider @ Raffles P', 41),
 ('James', 40),
 ('Heritage Apartments', 40),
 ('Jimmy', 39),
 ('Tom', 37),
 ('Yee', 36),
 ('Lee', 35),
 ('Ong', 35),
 ('Neha', 34),
 ('Kevin', 33),
 ('Belle', 33),
 ('K2 Guesthouse', 32),
 ('Mike', 32),
 ('Linda', 32),
 ('Ada', 32),
 ('Katherine', 31),
 ('Catherine', 30),
 ('Chris', 30),
 ('Mindy', 29),
 ('Lucy', 28),
 ('L', 28),
 ('Seven', 28),
 ('Kay', 28),
 ('Anna', 27),
 ('Su Moy', 27),
 ('David', 26),
 ('Amy', 26),
 ('Keith', 26),
 ('Wei', 26),
 ('Pat', 26),
 ('Anthony', 25),
 ('Han', 25),
 ('Shasha', 25),
 ('Sunny', 24),
 ('静', 24),
 ('Joyce', 23),
 ('Nanda', 23),
 ('Tommy', 22),
 ('Royal', 22),
 ('Benny', 22),
 ('Daniel', 22),
 ('Angie', 22),
 ('Sharon', 21),
 ('Jan', 21),
 ('Lily', 21),
 ('Julie', 20),
 ('J', 20),
 ('Ethan', 19),
 ('Simon', 19),
 ('Abegail', 19),
 ('Tryston', 18),
 ('Michael', 18),
 ('Christine', 18),
 ('Stacy', 18),
 ('Jenny', 17),
 ('Sophie', 17),
 ('Sam', 17),
 ('Meadows', 17),
 ('Ace Beautiful Homes', 17),
 ('Vu', 17),
 ('Kit', 16),
 ('Julian', 16),
 ('Susie', 16),
 ('Ray', 16),
 ('Shu', 16),
 ('Bob', 16),
 ('Amelia', 16),
 ('Sarah', 15),
 ('Michelle', 15),
 ('John', 15),
 ('Peter', 15),
 ('Adler', 15),
 ('XY Hotel Bugis', 15),
 ('Oakwood Premier OUE Singapore', 15),
 ('Donald', 15),
 ('Bryan', 14),
 ('Studios', 14),
 ('Rebekah', 14),
 ('E C', 14),
 ('Gfourstation', 14),
 ('Dan', 14),
 ('Jessie', 14),
 ('W3', 14),
 ('Mr. J', 14),
 ('Fang', 14),
 ('Cheryl', 13),
 ('Uncharted Homes', 13),
 ('Angela', 13),
 ('Chin', 13),
 ('Jon, Ams & Friends', 13),
 ('Herman', 13),
 ('Lulier', 13),
 ('Jason', 12),
 ('Elise', 12),
 ('Andy', 12),
 ('Esther', 12),
 ('Kelly', 12),
 ('Cindy', 12),
 ('Shuying', 12),
 ('Fang Ren', 12),
 ('Grace', 11),
 ('Ruth Mandy', 11),
 ('Betty', 11),
 ('DropINN', 11),
 ('Vivian', 11),
 ('Win', 11),
 ('Ark', 11),
 ('Joanne', 11),
 ('Elizabeth', 10),
 ('Audrey', 10),
 ('Kenneth', 10),
 ('Alan', 10),
 ('Sue', 10),
 ('Zack', 10),
 ('V/', 10),
 ('Andrew', 10),
 ('Nancy', 10),
 ('Jiayi', 10),
 ('Chong', 10),
 ('Trisno', 10),
 ('Ken', 10),
 ('Edmund', 10),
 ('Karen', 10),
 ('Mei', 10),
 ('Atlantis', 10),
 ('Kiwi Sg Home', 10),
 ('Belinda', 9),
 ('Caleb', 9),
 ('Darren', 9),
 ('ｼﾝ', 9),
 ('Eddie', 9),
 ('Beary Best Hostel', 9),
 ('Tim', 9),
 ('Kate', 9),
 ('Kelvin', 9),
 ('Justin', 9),
 ('Ian', 9),
 ('Kathy', 9),
 ('Sk', 9),
 ('Cal', 9),
 ('Zhen And Toni', 9),
 ('Bella', 9),
 ('Quek', 9),
 ('Ling', 8),
 ('Mrs Tan', 8),
 ('May', 8),
 ('Marilyn', 8),
 ('Steven', 8),
 ('Dream Lodge', 8),
 ('That Green Corner', 8),
 ('Joe', 8),
 ('Gap Year', 8),
 ('Jessica', 8),
 ('Brian', 8),
 ('Mich', 8),
 ('WeiIn', 8),
 ('The Quay', 8),
 ('琳琳', 8),
 ('Mandelyn', 8),
 ('Assemblage', 8),
 ('The Pod', 8),
 ('Capsule Hotel', 8),
 ('Richard', 7),
 ('Martin', 7),
 ('Lydia', 7),
 ('Superb Hostel', 7),
 ('Angelina', 7),
 ('Jane', 7),
 ('Champ', 7),
 ('Bc', 7),
 ('Property', 7),
 ('Crystal', 7),
 ('Li', 7),
 ('Amanda', 7),
 ('Lim', 7),
 ('Ann', 7),
 ('Jing', 7),
 ('Home', 7),
 ('Yan', 7),
 ('Adrian', 7),
 ('Geraldine', 7),
 ('Heritage', 7),
 ('Meadowland', 7),
 ('Jini', 7),
 ('Best Accommodation', 7),
 ('Kong Wee', 7),
 ('Tina', 7),
 ('Avril', 7),
 ('Z', 7),
 ('Terence', 7),
 ('Dian', 7),
 ('Beary Best', 7),
 ('Thads', 7),
 ('Laura', 6),
 ('Jeremy', 6),
 ('Chloe', 6),
 ('Paul', 6),
 ('Jean', 6),
 ('Sara', 6),
 ('Jennifer', 6),
 ('Olivia', 6),
 ('Alaric', 6),
 ('Sean', 6),
 ('Wendy', 6),
 ('Gopal', 6),
 ('Derrick', 6),
 ('Teddy', 6),
 ('Jonathan', 6),
 ('BedsandDreams Inn@ Chinatown', 6),
 ('Adam', 6),
 ('Zhang', 6),
 ('Mark', 6),
 ('Elaine', 6),
 ('Jayce', 6),
 ('William', 6),
 ('Apple', 6),
 ('Mitul', 6),
 ('Ailyn', 6),
 ('Joseph', 6),
 ('Orchard Point', 6),
 ('Oakwood Studios', 6),
 ('Diane', 6),
 ('Regina & Co.', 6),
 ('Go', 6),
 ('Yzsa', 6),
 ('Alee', 6),
 ('Zoe', 6),
 ('Jo', 6),
 ('Moon&Kim', 6),
 ('Kim (金)', 6),
 ('Damien', 6),
 ('Lucinda', 6),
 ('Yuan', 5),
 ('Su', 5),
 ('Wink', 5),
 ('Vanessa', 5),
 ('Nicholas', 5),
 ('Yeo', 5),
 ('Yvonne', 5),
 ('Christian', 5),
 ('Jasmine', 5),
 ('Thomas', 5),
 ('Serena', 5),
 ('Jojo', 5),
 ('Ho', 5),
 ('Lu', 5),
 ('Cynthia', 5),
 ('Cj', 5),
 ('Hani', 5),
 ('Hazel', 5),
 ('Jj', 5),
 ('Jen', 5),
 ('Jerry', 5),
 ('Xuan', 5),
 ('Jacelyn', 5),
 ('Sky', 5),
 ('Elle', 5),
 ('Alice', 5),
 ('Rachel', 5),
 ('Fang Wei', 5),
 ('George', 5),
 ('Tony', 5),
 ('Fiona', 5),
 ('Teo', 5),
 ('Lina', 5),
 ('Shan Bros', 5),
 ('Goh', 5),
 ('Raymond', 5),
 ('Irene', 5),
 ('Walter', 5),
 ('Wansik', 5),
 ('Gusti', 5),
 ('M Social', 5),
 ('Ann Siang', 5),
 ('Terry', 5),
 ('Hz', 5),
 ('Bianca', 4),
 ('Quinn', 4),
 ('Joel', 4),
 ('Jack', 4),
 ('Coco', 4),
 ('Jim', 4),
 ('Jin', 4),
 ('Tracey', 4),
 ('S', 4),
 ('Ryan', 4),
 ('Ashley', 4),
 ('Antoine', 4),
 ('5footway', 4),
 ('Tay', 4),
 ('Andrea', 4),
 ('Thanksgivings', 4),
 ('Jas', 4),
 ('Felix', 4),
 ('Erin', 4),
 ('Nicole', 4),
 ('Ivan', 4),
 ('Henry', 4),
 ('Sora', 4),
 ('Lynn', 4),
 ('Oscar', 4),
 ('Shawn', 4),
 ('Alexander', 4),
 ('Ang', 4),
 ('Sally', 4),
 ('Yin', 4),
 ('Tammy&Sean', 4),
 ('Alfred', 4),
 ('Your Home Away From Home', 4),
 ('Christopher', 4),
 ('Eva', 4),
 ('Mary', 4),
 ('Jarovh', 4),
 ('Anna / Chee Kiang', 4),
 ('Annie', 4),
 ('Tribe Theory', 4),
 ('Qin', 4),
 ('Kenny', 4),
 ('Dex', 4),
 ('Fefe', 4),
 ('Margaret', 4),
 ('Stella', 4),
 ('Marshall', 4),
 ('Xinhang', 4),
 ('Quarters', 4),
 ('Hipstercity', 4),
 ('Your Community Host', 4),
 ('Sunny&Lucy', 4),
 ('Darius', 4),
 ('Tanya', 4),
 ('Beth', 4),
 ('Alysson', 4),
 ('KeSa', 4),
 ('菓', 4),
 ('Kk', 4),
 ('Breeze', 4),
 ('Lena', 3),
 ('Roger', 3),
 ('Sue / Mylene', 3),
 ('F', 3),
 ('Serene', 3),
 ('Val', 3),
 ('Matt', 3),
 ('Frank', 3),
 ('Mara', 3),
 ('Gweny', 3),
 ('Faith', 3),
 ('Cozy', 3),
 ('Gary', 3),
 ('Dianne', 3),
 ('Shwu Shenn', 3),
 ('Pinggi', 3),
 ('Nicolas', 3),
 ('Lynelle', 3),
 ('Anita & David', 3),
 ('Kathleen', 3),
 ('Winnie', 3),
 ('M', 3),
 ('Prim', 3),
 ('Stteven', 3),
 ('Melissa', 3),
 ('Hedy', 3),
 ('Nawan', 3),
 ('Matthew', 3),
 ('Ghislain', 3),
 ('Chester', 3),
 ('Ine', 3),
 ('Syed', 3),
 ('Priscilla', 3),
 ('Kiddy', 3),
 ('Tiffany', 3),
 ('Charlene', 3),
 ('Jamie', 3),
 ('Shean', 3),
 ('Nigel', 3),
 ('Vincent', 3),
 ('Tan', 3),
 ('Lan', 3),
 ('Carl', 3),
 ('Sofia', 3),
 ('Juliana', 3),
 ('Sona', 3),
 ('Chua', 3),
 ('Steve', 3),
 ('Jess', 3),
 ('Evelyn', 3),
 ('Angel', 3),
 ('Capella Club Residences', 3),
 ('Chen', 3),
 ('Liu', 3),
 ('Natalie', 3),
 ('Cecilia', 3),
 ('Arun', 3),
 ('Abhishek', 3),
 ('Mona', 3),
 ('Mohamed', 3),
 ('Claire', 3),
 ('Samantha', 3),
 ('Mathieu', 3),
 ('Carrie', 3),
 ('Js', 3),
 ('Fendi', 3),
 ('Helen', 3),
 ('Markus', 3),
 ('Eugene', 3),
 ('Sandeep', 3),
 ('Iana', 3),
 ('Eddy', 3),
 ('Eric', 3),
 ('Nargis', 3),
 ('Sandy', 3),
 ('Lorraine', 3),
 ('Marcus', 3),
 ('Accomodation', 3),
 ('Shuhui', 3),
 ('Zhou', 3),
 ('Dj', 3),
 ('Kyle', 3),
 ('Gat', 3),
 ('Xx', 3),
 ('Yuki', 3),
 ('Zari', 3),
 ('Siti Noordin', 3),
 ('Emily', 3),
 ('Gan', 3),
 ('Amazing', 3),
 ('Kent', 3),
 ('Tien', 3),
 ('23 Lees', 3),
 ('Frerriel', 3),
 ('Transient Room', 3),
 ('Glamping', 3),
 ('Francis', 3),
 ('Cecy', 3),
 ('Weiguo', 3),
 ('B.C', 3),
 ('Apt', 3),
 ('Maggie Wu', 3),
 ('Mandarin Orchard Singapore', 3),
 ('Char', 3),
 ('Cp', 3),
 ('Nana', 3),
 ('Pan Pacific Serviced Suites', 3),
 ('Kok Yung', 3),
 ('Wankeun', 3),
 ('Shan', 3),
 ('Ric', 3),
 ('SugarKenn', 3),
 ('Zoe & Friends', 3),
 ('Stephen', 3),
 ('Shindy', 3),
 ('Jun', 3),
 ('Rucksack Inn', 3),
 ('Ngoc', 3),
 ('UniWorld', 3),
 ('Tricia', 3),
 ('BEAT. Sports Hostel', 3),
 ('Brandon', 3),
 ('Danielle', 3),
 ('月香', 3),
 ('Francesca', 2),
 ('Tania', 2),
 ('Natesh', 2),
 ('Sheryl', 2),
 ('Takico', 2),
 ('Anuj', 2),
 ('Skye', 2),
 ('Leanda', 2),
 ('Sam & Jenny', 2),
 ('Regina', 2),
 ('Happysnail', 2),
 ('Gordon', 2),
 ('Xavier', 2),
 ('Dominique', 2),
 ('Bill', 2),
 ('Flora', 2),
 ('Dominic', 2),
 ('Bobby', 2),
 ('Jade', 2),
 ('Moira', 2),
 ('Kat', 2),
 ('Lenneth', 2),
 ('Vince', 2),
 ('Marty', 2),
 ('Samuel', 2),
 ('Willy', 2),
 ('Isabel', 2),
 ('Jeff', 2),
 ('Don', 2),
 ('MyCity', 2),
 ('Ankur', 2),
 ('Edwina', 2),
 ('明洁', 2),
 ('Kramer', 2),
 ('Sebastian', 2),
 ('Leon', 2),
 ('Aveline', 2),
 ('Nina', 2),
 ('Lei', 2),
 ('Natalia', 2),
 ('Natasha', 2),
 ('Liz', 2),
 ('Shyam', 2),
 ('Florence', 2),
 ('Sukri', 2),
 ('Phan', 2),
 ('Veronica', 2),
 ('Amir', 2),
 ('Sherry', 2),
 ('Suan Khim', 2),
 ('Rainer', 2),
 ('Perfect', 2),
 ('Shafiq', 2),
 ('Phil', 2),
 ('Trisha', 2),
 ('Kingsley', 2),
 ('Chi Siang', 2),
 ('WorldQ', 2),
 ('Min', 2),
 ('Royce', 2),
 ('Piriya', 2),
 ('Agnes', 2),
 ('Vicky', 2),
 ('Yong Han', 2),
 ('Jafar', 2),
 ('Tangoh', 2),
 ('Theresa', 2),
 ('Fan', 2),
 ('Lesley', 2),
 ('Jian Hao', 2),
 ('Daniela', 2),
 ('Jeffrey', 2),
 ('Daphne', 2),
 ('Victor', 2),
 ('Ayush', 2),
 ('Antonio', 2),
 ('Leslie', 2),
 ('JoJo', 2),
 ('Yusheng', 2),
 ('Gagan', 2),
 ('Rare.Group', 2),
 ('Xi', 2),
 ('Lin', 2),
 ('Harry Dzung', 2),
 ('Luis', 2),
 ('Kim', 2),
 ('Greg', 2),
 ('Candy', 2),
 ('Cheez', 2),
 ('Ming', 2),
 ('Peng', 2),
 ('Alfian', 2),
 ('RouYi', 2),
 ('Rahul', 2),
 ('Lisa', 2),
 ('Lotus', 2),
 ('Na', 2),
 ('Kuldeep', 2),
 ('IEraaniyan', 2),
 ('Aravind', 2),
 ('Fanlei', 2),
 ('Jai', 2),
 ('Amber', 2),
 ('Cathy', 2),
 ('Anne', 2),
 ('Seng', 2),
 ('Violet', 2),
 ('Alexis', 2),
 ('Aleksandra', 2),
 ('Freddy', 2),
 ('Mai', 2),
 ('Marina', 2),
 ('Owens', 2),
 ('Kristin', 2),
 ('Zehwee', 2),
 ('Homes Sg', 2),
 ('Eve', 2),
 ('Kai', 2),
 ('Florent', 2),
 ('Robert', 2),
 ('Mickael', 2),
 ('Arthur', 2),
 ('Alexandre', 2),
 ('Nikki', 2),
 ('Kalyan Chakravarthi', 2),
 ('Wen', 2),
 ('Christina', 2),
 ('Mulang', 2),
 ('Garance', 2),
 ('Mily', 2),
 ('Ana', 2),
 ('Sangi', 2),
 ('Ashu', 2),
 ('Zen', 2),
 ('Becky', 2),
 ('Attari', 2),
 ('Lei Vee', 2),
 ('Any', 2),
 ('Diana', 2),
 ('Meganathan', 2),
 ('Xuebao', 2),
 ('Puneet', 2),
 ('昂斯', 2),
 ('Xiang', 2),
 ('Krish', 2),
 ('Reggie', 2),
 ('Jerome & Jane', 2),
 ('Egem', 2),
 ('Louis', 2),
 ('Jamila', 2),
 ('Rosey', 2),
 ('Elynn', 2),
 ('Htin', 2),
 ('Hana', 2),
 ('Penny', 2),
 ('Meadows Lavender', 2),
 ('Ferdi', 2),
 ('Cui', 2),
 ('Mk', 2),
 ('Catty', 2),
 ('Azlan', 2),
 ('Nan', 2),
 ('Mandy', 2),
 ('Chan', 2),
 ('Nur', 2),
 ('Chng', 2),
 ('Eileen', 2),
 ('Zheng', 2),
 ('Chao', 2),
 ('Neil', 2),
 ('Leonard', 2),
 ('Peir', 2),
 ('Willie', 2),
 ('Ron', 2),
 ('Rebecca', 2),
 ('Dede', 2),
 ('Choo', 2),
 ('Mamun', 2),
 ('超', 2),
 ('Nurlinahwati', 2),
 ('思宇', 2),
 ('Rajendra', 2),
 ('Joy', 2),
 ('Ay', 2),
 ('Qingyan', 2),
 ('Beibei', 2),
 ('Marc', 2),
 ('D', 2),
 ('Fair', 2),
 ('Marion', 2),
 ('Ming Yang', 2),
 ('Moe', 2),
 ('Jaemin', 2),
 ('Sabrina', 2),
 ('PARKROYAL Serviced Suites', 2),
 ('Heri', 2),
 ('Ngiam', 2),
 ('Dear', 2),
 ('Yoyo', 2),
 ('Zhe Ying', 2),
 ('Marisca', 2),
 ('Marina Bay Sands Hotel', 2),
 ('Squirrel Homes', 2),
 ('Neeta', 2),
 ('Yong Wah', 2),
 ('Za', 2),
 ('国勇', 2),
 ('Ting', 2),
 ('Nuzaibah', 2),
 ('Hanna', 2),
 ('Amber And Daniel', 2),
 ('Y2m', 2),
 ('Shi You', 2),
 ('Desmond', 2),
 ('Angelika', 2),
 ('Cheng', 2),
 ('Ml', 2),
 ('Nathan', 2),
 ('Ken And Rain', 2),
 ('Mairéad', 2),
 ('Ow', 2),
 ('Flemmin', 2),
 ('Stone', 2),
 ('Natasha K', 2),
 ('Haiyan', 2),
 ('Myvonne', 2),
 ('Jayleen', 2),
 ('Tara', 2),
 ('Ailing', 2),
 ('Mabel', 2),
 ('颖', 2),
 ('Shangping', 2),
 ('Liyx', 2),
 ('K.', 2),
 ('Charles', 2),
 ('Amito', 2),
 ('Royal Plaza On Scotts', 2),
 ('Be My Home', 2),
 ('Dt', 2),
 ('Megan', 2),
 ('Colour', 2),
 ('Tuan', 2),
 ('Hieu', 2),
 ('Junio', 2),
 ('艾伦', 2),
 ('Lady', 2),
 ('Jeannie', 2),
 ('Huang', 2),
 ('Xinnie', 2),
 ('Chun', 2),
 ('Jackie & Debbie', 2),
 ('Ai', 2),
 ('Hanjin', 2),
 ('容', 2),
 ('Amber&Marco', 2),
 ('Devesh', 2),
 ('David Danille', 2),
 ('Sujatha', 1),
 ('Aresha', 1),
 ('Adi', 1),
 ('Susan', 1),
 ('Frederic', 1),
 ('Shirlnet', 1),
 ('Jimm', 1),
 ('Christiana', 1),
 ('Homestay In Central Singapore', 1),
 ('Immellymel', 1),
 ('Dara', 1),
 ('Gin', 1),
 ('Linton', 1),
 ('Jill', 1),
 ('Charlyn', 1),
 ('Domus', 1),
 ('Gerard', 1),
 ('Soh', 1),
 ('Zhoulin', 1),
 ('Zi Ying', 1),
 ('Dustin', 1),
 ('Beate', 1),
 ('Bastian', 1),
 ('Ammarudin', 1),
 ('Chelsea', 1),
 ('Rayne', 1),
 ('Teng Yan', 1),
 ('Kah Lun', 1),
 ('Rosanna', 1),
 ('Singdweller', 1),
 ('Dale', 1),
 ('Meiling', 1),
 ('Pauline', 1),
 ('Patrick & Cindy', 1),
 ('Georgie', 1),
 ('Vanillabeans', 1),
 ('Veil', 1),
 ('Rockwell', 1),
 ('Alexandra', 1),
 ('Valentin', 1),
 ('Sufi', 1),
 ('Judy', 1),
 ('Yock Lian', 1),
 ('Jois', 1),
 ('Callie & Kel', 1),
 ('Xiao', 1),
 ('YongXing9688', 1),
 ('Gregory', 1),
 ('Elodie', 1),
 ('Wayne', 1),
 ('Chew Nam', 1),
 ('Lizzie', 1),
 ('Cherlek', 1),
 ('Foong', 1),
 ('Edwin Leopold', 1),
 ('莉', 1),
 ('Melinda', 1),
 ('Orion', 1),
 ('Seok Ho', 1),
 ('Muriel', 1),
 ('Calvin', 1),
 ('JZ Dale', 1),
 ('Phua', 1),
 ('Kieu', 1),
 ('Central 65', 1),
 ('Veer', 1),
 ('Saurabh', 1),
 ('Nova', 1),
 ('Ernest', 1),
 ('Leanne', 1),
 ('Anjalli', 1),
 ('Sajag', 1),
 ('Danny', 1),
 ('Jia Yi', 1),
 ('Landlord', 1),
 ('Manuel', 1),
 ('文翔', 1),
 ('Sonia', 1),
 ('Daisy', 1),
 ('A', 1),
 ('Ploy', 1),
 ('Huan', 1),
 ('Law', 1),
 ('Dario', 1),
 ('Shuai', 1),
 ('Allendgs', 1),
 ('Y', 1),
 ('Hitesh', 1),
 ('A.P', 1),
 ('Akash', 1),
 ('Gondo', 1),
 ('Divya', 1),
 ('Harald', 1),
 ('Shivakumar', 1),
 ('Airena', 1),
 ('Casper', 1),
 ('Amrita', 1),
 ('Derek', 1),
 ('Udbhav', 1),
 ('Soku', 1),
 ('Bassel', 1),
 ('Mathilde', 1),
 ('Feng', 1),
 ('El', 1),
 ('Branson', 1),
 ('Gao', 1),
 ('Gema', 1),
 ('Cao', 1),
 ('Paloma', 1),
 ('JYidea', 1),
 ('Raphaelle', 1),
 ('Le & Aren', 1),
 ('Aloysius', 1),
 ('Benedict', 1),
 ('Rafa', 1),
 ('Blake', 1),
 ('Fengqi', 1),
 ('Peklyn', 1),
 ('Aya', 1),
 ('Jillian', 1),
 ('Niti', 1),
 ('Mostafa', 1),
 ('Meijuan', 1),
 ('Melanie', 1),
 ('Ramzi', 1),
 ('Fai', 1),
 ('Aude', 1),
 ('Ira', 1),
 ('Oualid', 1),
 ('Salleh', 1),
 ('Singaporejo', 1),
 ('Wing', 1),
 ('Jeanette', 1),
 ('Cynth', 1),
 ('Cintia', 1),
 ("D'Resort", 1),
 ('Doreen', 1),
 ('Ryan Ng', 1),
 ('Mehdi', 1),
 ('Nellie', 1),
 ('Jianan', 1),
 ('Siti', 1),
 ('Zaidi', 1),
 ('Luqman', 1),
 ('Ronnie', 1),
 ('Didier', 1),
 ('Linn', 1),
 ('Peejay', 1),
 ('Tilak', 1),
 ('Angus', 1),
 ('Mal', 1),
 ('Christy', 1),
 ('Sohan', 1),
 ('Dana', 1),
 ('Reon', 1),
 ('Craig', 1),
 ('Lisya', 1),
 ('Vera', 1),
 ('An', 1),
 ('Guomin', 1),
 ('Tilden', 1),
 ('Raspal', 1),
 ('Arnauld', 1),
 ('Marouen', 1),
 ('Liam', 1),
 ('Vikneswaran', 1),
 ('Maxime', 1),
 ('Mathew Fernandez', 1),
 ('Cruise', 1),
 ('Trina', 1),
 ('Rob', 1),
 ('Ser', 1),
 ('Dorin', 1),
 ('Nik', 1),
 ('Arlene', 1),
 ('Bito', 1),
 ('Meen', 1),
 ('Kuldip', 1),
 ('Jannah', 1),
 ('Wu', 1),
 ('Vidanth', 1),
 ('Qiu', 1),
 ('Takuya', 1),
 ('Ruth', 1),
 ('Son', 1),
 ('Koert', 1),
 ('Yb', 1),
 ('Hugo', 1),
 ('Typroper', 1),
 ('Jesse', 1),
 ('Joycelyn', 1),
 ('Subhashish', 1),
 ('Abigale', 1),
 ('Gladys', 1),
 ('Till', 1),
 ('Jialin', 1),
 ('TuongVi', 1),
 ('Gabriele', 1),
 ('Hannah-Lhynne', 1),
 ('Philipp', 1),
 ('Tingting', 1),
 ('Jye', 1),
 ('Rathnah', 1),
 ('Hoo', 1),
 ('Jv', 1),
 ('Heather', 1),
 ('Arunesh', 1),
 ('Ty', 1),
 ('T', 1),
 ('Boon Teck', 1),
 ('Nasim', 1),
 ('Xuefeng', 1),
 ('Anshuman', 1),
 ('Moly', 1),
 ('Mat', 1),
 ('露', 1),
 ('Guo Feng', 1),
 ('Hubab', 1),
 ('Sylvain', 1),
 ('Joen', 1),
 ('Okjoh', 1),
 ('Stephanie & KT', 1),
 ('Jingjing', 1),
 ('Esther Ying', 1),
 ('Korkwan', 1),
 ('Augustus', 1),
 ('Rishita', 1),
 ('Jerome', 1),
 ('Blandine', 1),
 ('Allen', 1),
 ('Ji Hyung', 1),
 ('Prateek', 1),
 ('Gillian', 1),
 ('Poh Heng Anthony', 1),
 ('Karma', 1),
 ('Danhua', 1),
 ('Achille', 1),
 ('Henrik', 1),
 ('Kong Keong Lawrence', 1),
 ('Crystabella', 1),
 ('Gavin', 1),
 ('Alina', 1),
 ('Joya', 1),
 ('Xiukun_zhang', 1),
 ('Daiyhsi', 1),
 ('Heng Jun', 1),
 ('Klaus', 1),
 ('Neeraj', 1),
 ('Caroline', 1),
 ('8 On Claymore Serviced Residences', 1),
 ('Prakash', 1),
 ('Mi', 1),
 ('Denise', 1),
 ('Waqas', 1),
 ('Lola', 1),
 ('Jonie', 1),
 ('睿澜', 1),
 ('Tobias', 1),
 ('Emilie', 1),
 ...]

In [60]:
top_5_hosts_bycount = sorted_host_values[:5]

In [62]:
count = 0
for item in top_5_hosts_bycount:
    count += item[1]
    
print(count)

956

In [63]:
#total number of host
len(my_dict)

1833

In [64]:
#total number of rented_spaces
len(new_list)

7907

In [66]:
#the top 5 host owns for about 12% of the total rented_spaces
956/len(new_list)*100

12.090552674845075

USING .VALUECOUNT

In [93]:
data['host_name'].value_counts()

Jay         290
Alvin       249
Richards    157
Aaron       145
Rain        115
           ...
King          1
Jue           1
욱             1
Ke            1
Jowee         1
Name: host_name, Length: 1833, dtype: int64

FIND THE MOST FAMOUS RENTED_SPACE AIR BNB

In [75]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
#most commonly reviewed space

In [110]:
data[data['number_of_reviews'] == 323]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
132,2129215,Luxuriously Spacious Studio Apt.,7642747,Shirley,East Region,Bedok,1.32122,103.91492,Entire home/apt,139,2,323,2019-08-22,4.72,1,239

In [109]:
data['number_of_reviews'].unique

<bound method Series.unique of 7906      0
5627      0
5626      0
5625      0
2125      0
       ...
722     291
470     296
1237    296
140     307
132     323
Name: number_of_reviews, Length: 7907, dtype: int64>

^based on this, we know that the highest amount of reviews is 245 which is owned by 'The Antiquity Room'

In [105]:
data[data['host_name'] =='Eddie']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4716,28571914,Brand new contemporary apartment rental,43543631,Eddie,Central Region,Rochor,1.30261,103.84900,Entire home/apt,200,1,1,2018-12-23,0.12,2,0
2322,17483524,Brand new contemporary room rental,43543631,Eddie,Central Region,Rochor,1.30173,103.84619,Private room,119,1,7,2019-01-04,0.35,2,365
3317,21915252,The Obi Room,30080617,Eddie,East Region,Tampines,1.34632,103.96221,Private room,44,2,64,2019-07-12,3.03,7,0
465,5798211,The Studio Suite,30080617,Eddie,East Region,Tampines,1.34587,103.96046,Private room,85,90,151,2019-07-10,2.97,7,365
829,8180346,The Zen Room,30080617,Eddie,East Region,Tampines,1.34432,103.96211,Private room,50,2,203,2019-06-29,4.26,7,0
489,5919270,The Antiquity Room,30080617,Eddie,East Region,Tampines,1.34471,103.96249,Private room,81,90,245,2019-07-03,4.64,7,263
517,6147142,The Music Room,30080617,Eddie,East Region,Tampines,1.34468,103.96102,Private room,56,2,263,2019-07-07,5.02,7,0
469,5827713,The Private Sanctuary,30080617,Eddie,East Region,Tampines,1.34495,103.96043,Private room,69,90,285,2019-07-12,5.40,7,365
470,5827998,The Lily Room,30080617,Eddie,East Region,Tampines,1.34463,103.96107,Private room,60,2,296,2019-06-28,5.56,7,0

assuming the number of reviews = popularity.
my question is, is there any correlation between location and popularity

In [130]:
data['host_name'].value_counts()

Jay         290
Alvin       249
Richards    157
Aaron       145
Rain        115
           ...
King          1
Jue           1
욱             1
Ke            1
Jowee         1
Name: host_name, Length: 1833, dtype: int64

In [131]:
data[data['host_name'] == 'Jay']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
5612,31241309,Inviting & Cozy 2BR APT 3 mins from Tg Pagar MRT,66406177,Jay,Central Region,Downtown Core,1.27580,103.84567,Entire home/apt,199,30,0,NaN,NaN,274,301
5589,31156539,Pleasant & Comfy Studio APT near Potong Pasir MRT,66406177,Jay,Central Region,Toa Payoh,1.33122,103.86921,Entire home/apt,110,30,0,NaN,NaN,274,327
5631,31296502,Gem of the West 1BR APT 3mins from Jurong E MRT,66406177,Jay,West Region,Jurong East,1.33620,103.74183,Entire home/apt,131,30,0,NaN,NaN,274,250
5652,31364014,Gem of the west 2BR Apt 3 mins from Jurong E MRT,66406177,Jay,West Region,Jurong East,1.33413,103.74198,Entire home/apt,331,30,0,NaN,NaN,274,233
5636,31297928,Idyllic & Cosy 2BR Apartment in Orchard,66406177,Jay,Central Region,River Valley,1.29925,103.83648,Entire home/apt,162,90,0,NaN,NaN,274,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,7537301,Ocean view Master Room in Penthouse,10064384,Jay,Central Region,Downtown Core,1.27843,103.84614,Private room,169,90,37,2019-01-06,0.81,10,354
2701,19380133,Superhost 2BR APT 3 mins from Tg Pagar MRT,66406177,Jay,Central Region,Downtown Core,1.27497,103.84520,Entire home/apt,187,14,41,2019-03-11,1.56,274,0
942,8909347,Super Big Penthouse - Master room S2-3,10064384,Jay,Central Region,Downtown Core,1.27396,103.84523,Private room,200,90,53,2019-02-13,1.19,10,351
709,7517671,Super Big Master room,10064384,Jay,Central Region,Downtown Core,1.27377,103.84523,Private room,200,90,96,2019-02-13,2.15,10,347
943,8909399,Penthouse Master Room S2-4,10064384,Jay,Central Region,Downtown Core,1.27280,103.84480,Private room,169,90,129,2019-03-04,2.81,10,0

In [30]:
len(data)

7907

In [41]:
data19 = data[data['last_review'] > '2019-01-01']

In [42]:
round(len(data19)/len(data)*100,2)

47.01

In [43]:
data19

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
5,71903,Room 2-near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34702,103.96103,Private room,104,1,39,2019-08-15,0.38,9,346
6,71907,3rd level Jumbo room 5 near EXPO,367042,Belinda,East Region,Tampines,1.34348,103.96337,Private room,208,1,25,2019-07-25,0.25,9,172
7,241503,"Long stay at The Breezy East ""Leopard""",1017645,Bianca,East Region,Bedok,1.32304,103.91363,Private room,50,90,174,2019-05-31,1.88,4,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7715,37621650,Comfortable and spacious four-bedroom family s...,43591543,Donald,Central Region,Geylang,1.31410,103.90317,Entire home/apt,699,3,6,2019-08-23,6.00,15,189
7728,37690516,cozy Condominium in quite neighbourhoods,165475492,BOONChean,Central Region,Toa Payoh,1.34063,103.88219,Private room,60,1,1,2019-08-12,1.00,1,1
7752,37798739,near Clementi MRT female only,157856583,Elyssa,West Region,Clementi,1.30677,103.76224,Private room,56,1,1,2019-08-17,1.00,1,120
7766,37841266,Sunny Modern Condo in City Center walk to MRT,39207304,Sophie,Central Region,Rochor,1.30074,103.84742,Entire home/apt,237,7,1,2019-08-25,1.00,12,159
7767,37852422,Private Room With King Size Bed Near Seng Kang...,119880789,Christine,North-East Region,Sengkang,1.39324,103.89002,Private room,60,1,1,2019-08-25,1.00,1,298

In [44]:
data19.to_csv('singapore_2019_airbnb.csv')